<link rel="shortcut icon" href="../../../assets/img/favicon.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<header>
    <div class="header-box">
        <div class="header-menu">
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a class="nav-link" routerLink="/home">Головна</a>
                    <a class="nav-link" routerLink="/categories">Категорії</a>
                    <a class="nav-link" routerLink="/cooperation">Співпраця</a>
                    <a class="nav-link" routerLink="/quarantee">Гарантія</a>
                    <a class="nav-link" routerLink="/contacts">Контакти</a>
                    <a class="nav-link" routerLink="/account">Аккаунт</a>
                </div>
            </div>
            <span onclick="openNav()"><img class="header-menu-icon" src="../../../assets/img/header1.png"></span>
        </div>
        <div class="header-logo"><img src="../../../assets/img/logo2.png" alt="header-logo">
        </div>
    </div>
    <div class="header-search">
        <form action="">
            <input type="search">
            <i class="fa fa-search"></i>
        </form>
    </div>
</header>

<script src="../../../assets/js/script.js"></script>