<footer class="footer-box">
        <div class="time-table-text">
         <h2 class="footer-text">Графік роботи</h2>
            <p>ПН-ПТ/11:00-21:00</p>
            <p>СБ-НД/11:00-18:00</p>
         </div>
         <div class="footer-logo">
        <img class="logo-footer" src="../../../assets/img/logo.png">
         </div>
         <div class="your-shops-text">
             <h2 class="footer-text">Наші магазини</h2>
             <p>вул.Івана-Франка 59</p>
             <p>вул.Торгова 15</p>
             </div> 
 </footer>