<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="navigation">
            <a href="index.html"><span class="glyphicon glyphicon-home"></span>
            </a>
            <span class="navigation-text">
                Гарантія
            </span>
        </div>
    </div>
    <div class="guarantee-top">
        <div class="guarantee-photo-box">
            <a href="#" class="guarantee-photo">
                <div class="img-top">
                    <img src="../../../assets/img/guarantee.png" alt="" style="width: 100%">
                </div>
            </a>
        </div>
        <div class="guarantee-info">
            <div class="guarantee-info-box">
                <h2> Умови Гарантії</h2>
                <p>Гарантійний термін експлуатації складає 12 місяців на інструмент та 6 місяців на зарядні
                    пристрої та акумуляторні батареї, що придбані окремо від інструмента при наявності товарного
                    або касового чеку (видаткової накладної) з відміткою про дату продажу, а також правильно
                    заповненого Гарантійного талона та підпису Покупця про прийняття ним гарантійних умов. При
                    невиконанні цих умов претензії по якості виробу не приймаються. Протягом гарантійного
                    терміну власник має право на безкоштовний ремонт виробу, якщо він вийшов з ладу через
                    дефекти виготовлення або матеріалів.

                </p>

            </div>
            <div class="guarantee-info-description">
                <h2>Гарантійні випадки</h2>
                <p>Стосовно роздрібної торгівлі в ч. 11 ст. 8 Закону № 1023 сказано, що вимоги споживача
                    розглядаються після пред'явлення розрахункового документа, а стосовно товарів, на які
                    встановлено гарантійний строк, – технічного паспорта або іншого документа, що його замінює,
                    з відміткою про дату продажу.

                    Дотримання гарантійного строку

                    Відповідно до ч. 2 ст. 675 ЦКУ договором або законом може бути встановлено строк, протягом
                    якого продавець гарантує якість товару (гарантійний строк). Гарантія якості товару
                    поширюється на всі комплектуючі вироби, якщо інше не встановлено договором (ч. 3 ст. 675
                    ЦКУ).</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>