<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="navigation">
            <a href="index.html"><img src="../../../assets/img/navigation.png" style="width:30px"></a>
            <span class="navigation-text">
                Елемент
            </span>
        </div>
    </div>
    <div class="element-photo-box">
        <a href="#" class="element-photo">
            <div class="img-top">
                <img src="../../../assets/img/element.png" alt="" style="width: 100%">
            </div>
        </a>
    </div>
    <div class="element-info-box">
        <h1>Jam Monster</h1>
        <h5>Blackberry Jam</h5>
        <h5>Ціна: 600 грн</h5>
        <h5>Об'єм : 100мл</h5>
        <h5>В наявності</h5>
    </div>
    <div class="element-info-description">
        <h4>Опис :</h4>
        <h6>BlackBerry by Jam Monster - це смак ожинового джему, який
            напевно задовольнить ваші смакові рецептори. Стигла і свіжа ожина з розігрітою олією на теплому тості,
            то що
            потрібно для максимального задоволення.Купити Рідина Jam Monster - Blackberry Limited Edition 100 мл.
            можна за
            низькою ціною в таких містах як: Харків, Одеса, Дніпропетровськ, Львів,Кіровоград, Івано- Франківськ,
            Тернопіль,
            Луцьк, Ужгород, Біла Церква, Бровари та в будь-який інший місто з відділеннями Нової Пошти. Як по
            передоплаті
            так і післяплатою.Наш вейп шоп ALISHOP здійснює доставку через Нову Пошту, можемо доставити кур'єром по
            Києву
            або можете забрати самі: г. Киев, ул. Михайлівська 22Б (в арці).</h6>
    </div>
</div>

<app-footer></app-footer>

<script src="../../../assets/js/script.js"></script>