<app-header></app-header>

<section>
    <div class="row">
        <div class="navigation">
            <a href="index.html"><span class="glyphicon glyphicon-home"></span>
            </a>
            <span class="navigation-text">
                Контакти
            </span>
        </div>
    </div>
    <div class="contacts-top">
        <div class="contacts-photo-box">
            <iframe src="https://www.google.com/maps/d/embed?mid=1QLWZSK2kJojf62gANvwPvtW2uXH3YlWA" width="100%"
                height="100%"></iframe>
        </div>
        <div class="contacts-info">
            <div class="contacts-info-box">
                <h2> </h2>
                <p>Львів (МФА: [ˈʎʋiu̯] ( прослухати)) — місто обласного значення в Україні, адміністративний центр
                    Львівської області, національно-культурний та освітньо-науковий осередок країни, великий промисловий
                    центр і транспортний вузол, вважається столицею Галичини та центром Західної України. За кількістю
                    населення — сьоме місто країни (станом на 1 січня 2018 року у Львові проживали 726 772 осіб[1]).
                    Центр Львівської агломерації з населенням понад 1 млн осіб.

                    Львів заснований королем Данилом у середині XIII століття. Близько 1272 року місто стало столицею
                    Королівства Русі (Галицько-Волинського князівства). У добу середньовіччя Львів був важливим
                    торговельним центром. За австрійського панування місто стає осередком українського та польського
                    національно-визвольних рухів. Після розпаду Австро-Угорщини з 19 жовтня 1918 був столицею
                    Західноукраїнської Народної Республіки, але після битви за Львів з листопада 1918 належав Польщі, що
                    в 1922-23 було визнано міжнародними пактами та угодами. 30 липня 1941 року за угодою
                    Сікорського-Майського СРСР визнав, що Польща є держава у кордонах серпня 1939. Тому, з точки зору
                    міжнародного права, під час другої світовой війни Львів знаходився на території, тимчасово
                    окупованій СРСР (1939-41), Німеччиною (1941-44), на звільненій від німців території Польщі
                    (1944-45). На Ялтинській конференції 4-11 лютого 1945 питання східних кордонів Польщі, зокрема
                    приналежності Львова, було одним з найбільш гострих та суперечливих. Після Другої світової війни за
                    ялтинськими угодами, юридично закріпленими 16 серпня 1945 року радянсько-польським договором, Львів
                    знаходився в Українській РСР, із 1991 року — в Україні.

                    Історичний центр Львова занесено до списку Світової спадщини ЮНЕСКО. У місті розташована найбільша
                    кількість пам'яток архітектури в Україні[2]. У 2009 році Львову надано звання Культурної столиці
                    України[3]. Місто періодично посідає чільні місця в рейтингах туристичної та інвестиційної
                    привабливості[4][5][6].</p>
            </div>
            <div class="contacts-info-description">
                <h2></h2>
                <p></p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>