<body>
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="navigation">
                <a routerLink="/home">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
                <span class="navigation-text">Категорії</span>
            </div>
            <div class="row">
                <div class="grid">
                    <a [routerLink]="['/category-view', 'accessories']"  class="categories-button"  >
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/accessories.png">
                            <figcaption>
                                <div>
                                    <h2>Аксесуари</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="grid">
                    <a [routerLink]="['/category-view', 'battery']"  class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/battery.jpg">
                            <figcaption>
                                <div>
                                    <h2>Акумулятори</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="grid">
                    <a [routerLink]="['/category-view', 'boxmod']"  class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/boxmod.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Боксмоди</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="grid">
                    <a [routerLink]="['/category-view', 'charger']" class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/charger.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Зарядки</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="grid">
                    <a [routerLink]="['/category-view', 'complects']" class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/complects.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Комплекти</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="grid">
                    <a [routerLink]="['/category-view', 'components']" class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/components.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Компоненти</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="grid">
                    <a [routerLink]="['/category-view', 'consumables']" class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/consumables.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Розхідники</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="grid">
                    <a [routerLink]="['/category-view', 'liquid']" class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/liquid.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Рідини</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="grid">
                    <a [routerLink]="['/category-view', 'mechmod']" class="categories-button">
                        <figure class="effect-romeo">
                            <img src="../../../assets/img/categories/mechmod.jpg" alt="" style="width: 100%">
                            <figcaption>
                                <div>
                                    <h2>Механіка</h2>
                                    <p>У нас тільки кращі</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="row">
                    <div class="grid">
                        <a [routerLink]="['/category-view', 'rda']" class="categories-button">
                            <figure class="effect-romeo">
                                <img src="../../../assets/img/categories/rda.jpg" alt="" style="width: 100%">
                                <figcaption>
                                    <div>
                                        <h2>Дріпки</h2>
                                        <p>У нас тільки кращі</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid">
                        <a [routerLink]="['/category-view', 'rdta']" class="categories-button">
                            <figure class="effect-romeo">
                                <img src="../../../assets/img/categories/rdta.jpg" alt="" style="width: 100%">
                                <figcaption>
                                    <div>
                                        <h2>Бако-дріпки</h2>
                                        <p>У нас тільки кращі</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grid">
                        <a [routerLink]="['/category-view', 'rta']" class="categories-button">
                            <figure class="effect-romeo">
                                <img src="../../../assets/img/categories/rta.jpg" alt="" style="width: 100%">
                                <figcaption>
                                    <div>
                                        <h2>Баки</h2>
                                        <p>У нас тільки кращі</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
<script src="../../../assets/js/script.js"></script>