<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="navigation">
            <a href="index.html"><span class="glyphicon glyphicon-home"></span>
            </a>
            <span class="navigation-text">
                Cпівпраця
            </span>
        </div>
    </div>
    <div class="cooperation-top">
        <div class="cooperation-photo-box">
            <a href="#" class="cooperation-photo">
                <div class="img-topp">
                    <img src="../../../assets/img/cooperation.png" alt="" style="width: 100%">
                </div>
            </a>
        </div>
        <div class="cooperation-info">
            <div class="cooperation-info-box">
                <h2> Співпраця</h2>
                <p>Співпраця, співробітництво — спільна з ким-небудь діяльність, спільна праця для досягнення мети. Для
                    відображення негативного сенсу цього слова (співпраця з ворогом) використовується слово
                    колабораціонізм,
                    або також одностороння співпраця коли єдна зі сторін співпрацює виключно з позицій власної вигоди та
                    пріоритетів без врахування/підтримки у випадку незацікавленості/зиску з захисту інтересів другої
                    сторони.

                    Це рекурсивний[1] процес, в якому двоє або більше людей або організацій працюють разом задля
                    досягнення
                    спільних цілей, (наприклад цікаве заповзяття, яке має творчий характер), за допомогою обміну
                    інформацією, навчання і досягнення консенсусу. Це більше, ніж перетин загальних цілей який
                    спостерігається в кооперативних підприємствах, а глибока, колективна рішучість досягти ідентичну
                    мету.

                    Більшість співпраці потребує лідерства, хоча форма лідерства може бути соціальною, зокрема всередині
                    децентралізованих та егалітарних груп.[2]

                    Команди, які працюють спільно можуть отримати більше ресурсів, визнання і винагород, при умовах
                    конкуренції за обмежені ресурси.[3]</p>

            </div>
            <div class="cooperation-info-description">
                <h2></h2>
                <p></p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>